.projects {
  padding-bottom: 150px;
  &__wrapper {}
  &__buttons {
    padding-top: 50px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  &__plus-buttons {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      flex: 1 0 auto;
    }
  }
}