.project-info {
  padding-top: 15px;
  padding-bottom: 15px;

  background: @color-bggray;
  &__wrapper {

  }
  .info-top {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .controls-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__item {
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
      &__button {
        text-transform: uppercase;
        border: none;
        outline: none;
        background: none;

        font-family: 'Jost', sans-serif;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: .5px;
        font-weight: 400;

        transition: @transition-all-3;
        &:hover {
          color: @color-blue;
        }

        svg {
          padding-right: 10px;
          path,
          use {
            fill: @color-blue
          }
        }

      }
    }
    &__link-page {
      display: flex;
      flex-direction: row;
      align-items: center;
      & > svg {
        path,
        use {
          fill: @color-darkgray;
        }
      }
      & > p {
        margin-left: 5px;

        color: @color-darkgray;
        white-space: nowrap;

        font-family: 'Jost', sans-serif;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: .5px;
        font-weight: 300;
      }
      & > a {
        margin-left: 5px;

        color: @color-black;
        white-space: nowrap;

        font-family: 'Jost', sans-serif;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: .5px;
        font-weight: 300;

        transition: @transition-all-3;
        &:visited {
          color: @color-black;
        }
        &:hover {
          color: @color-blue;
        }
      }
    }
  }
  .info-bottom {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-size: 64px;
      letter-spacing: 1.1px;
      font-weight: 300;
      line-height: 100%;
    }
    &__controls {
      .control-settings {
        background: @color-white;
        color: @color-black;

        & > svg {
          path,
          use {
            fill: @color-black;
          }
        }
      }
      .control-add-page {
        margin-left: 10px;
      }
    }
  }
}

.project-pages {
  padding-bottom: 150px;
  &__wrapper {}
  &__small {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__pages {
    .pages-list {
      &__item {
        border-bottom: 1px solid @color-gray;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.page-card {
  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &:hover {
    .card-left__title {
      color: @color-blue;
    }
    .card-right__info {
      visibility: hidden;
      opacity: 0;
    }
    .card-right__controls {
      visibility: visible;
      opacity: 1;
    }
  }

  .card-left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    &__image {
      position: relative;

      margin-right: 50px;

      width: 75px;
      height: 75px;

      border-radius: 100px;
      overflow: hidden;
    }
    &__img-tag {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;

      width: 100%;
      object-fit: cover;

      transform: translate(-50%, -50%);
    }
    &__title {
      font-family: 'Jost', sans-serif;
      font-size: 32px;
      font-weight: 400;
      font-style: normal;
      line-height: 100%;

      transition: @transition-all-3;
    }
  }
  .card-right {
    &__info {
      text-align: right;
      visibility: visible;
      opacity: 1;

      transition: @transition-all-3;
    }
    &__info-name {
      margin-bottom: 5px;
      color: @color-black;

      font-family: 'Jost', sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 100%;
    }
    &__info-status {
      color: @color-gray;

      font-family: 'Jost', sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 100%;
    }
    &__controls {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;

      visibility: hidden;
      opacity: 0;

      transform: translateY(-50%);
      transition: @transition-all-3;

      .controls-list {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        &__item {
          margin-left: 20px;
        }
        &__button {
          text-transform: uppercase;
          border: none;
          outline: none;
          background: none;

          font-family: 'Jost', sans-serif;
          font-size: 13px;
          line-height: 13px;
          letter-spacing: .5px;
          font-weight: 400;

          transition: @transition-all-3;
          &:hover {
            color: @color-blue;
            svg {
              path,
              use {
                fill: @color-blue
              }
            }
          }

          svg {
            padding-right: 10px;
            path,
            use {
              fill: @color-black;

              transition: @transition-all-3;
            }
          }
        }
      }
    }
  }
}


.settings-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  width: 100%;
  height: 100%;

  transition: @transition-all-3;
  &__wrapper {
    position: relative;

    width: 100%;
    height: 100%;
  }
  &__bg {
    position: absolute;
    z-index: 101;

    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    background: rgba( @color-black, .4 );

    transition: @transition-all-3;
  }
  .popup-content {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 102;

    width: 720px;

    opacity: 0;
    visibility: hidden;
    background: @color-white;

    transition: @transition-all-3;
    transform: translate(-50%, -50%);
    &__top {
      padding: 40px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background: @color-bggray;
    }
    &__tabs {

    }
  }
}

.settings-popup_open {
  opacity: 1;
  visibility: visible;
  .settings-popup__bg {
    opacity: 1;
    visibility: visible;
  }
  .popup-content {
    top: 50%;

    opacity: 1;
    visibility: visible;
  }
}


.tabs {
  &-name {
    padding-right: 40px;
    padding-left: 40px;

    background: @color-bggray;
    &__list {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__item {}
    &__link {
      position: initial;

      padding: 15px 10px;

      display: inline-block;

      color: @color-black;

      font-family: 'Jost', sans-serif;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      line-height: 100%;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;

        content: '';
        display: inline-block;
        width: 80%;
        height: 2px;
        background: @color-black;
        opacity: 0;

        transition: @transition-all-3;
        transform: translateX(-50%);
      }
    }
    .tab-name-active {
      position: relative;

      &::after {
        opacity: 1;
      }
    }
  }
  &-content {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    &__wrapper {}
    &__item {
      display: none;
    }
    .tab-content-active {
      display: block;
    }
    .tab-form {}
    .tab-uploader {}
    .tab-submit {
      padding-top: 40px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__left {
        flex: 1 0 auto;
      }
      &__right {
        flex: 0 0 auto;
      }
      &__link {
        color: @color-black;

        font-family: 'Jost', sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: 100%;
      }
      &__button {
        padding: 11px 29px;
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

.input-group {
  position: relative;

  margin-top: 35px;

  width: 100%;
  &__label {
    position: absolute;
    top: 50%;

    padding: 0;
    margin: 0;

    width: 100%;

    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;

    transform: translateY(-50%);
  }
  &__input {
    padding: 5px 0;
    margin: 0;

    width: 100%;

    border: none;
    border-bottom: 1px solid @color-bggray;
    outline: none;

    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
  }
}