.empty-project-item {
  height: 265px;
  width: 100%;

  border: 1px dashed @color-gray;
  border-radius: 8px;
}


.wrapper {
  padding: 15px;
}


.project-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 265px;
  width: 100%;

  background: @color-white;
  border: 1px solid @color-gray;
  border-radius: 8px;
  color: @color-black;

  transition: @transition-all-3;
  &:hover {
    background-color: transparent;
  }
  .project-setting {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  &__top {
    position: relative;

    padding: 30px 40px 0 40px;

    height: 100%;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      content: '';
      display: inline-block;
      width: 97%;
      height: 1px;

      background-color: @color-gray;

      transform: translateX(-50%);
    }
  }
  &__bottom {
    padding: 10px 40px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: @breakpoint-sm) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .edit-page {
      height: 60px;
      display: flex;
      align-items: center;

      @media (max-width: @breakpoint-sm) {
        height: 40px;
      }

      &__svg {
        margin-right: 10px;

        path,
        polygon,
        rect{
          fill: @color-blue;
        }
      }
      &__link {
        color: @color-black;

        .project-edit-font-style();

        transition: @transition-all-3;
        &:hover {
          color: @color-blue;
        }
      }
    }
    .visit-page {
      height: 60px;
      display: flex;
      align-items: center;

      @media (max-width: @breakpoint-sm) {
        height: 40px;
      }

      &__svg {
        margin-right: 10px;

        path,
        polygon,
        rect{
          fill: @color-blue;
        }
      }
      &__link {
        color: @color-black;

        .project-visit-font-style();

        transition: @transition-all-3;
        &:hover {
          color: @color-blue;
        }
      }
    }
  }
  &__title {
    .h3-font-style();

    input {
      margin: 0;
      padding: 0;

      width: 100%;

      .h3-font-style();
    }
  }
}