.tabs {
  &-nav {
    padding-right: 40px;
    padding-left: 40px;

    background: @color-bggray;
    &__list {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__item {}
    &__link {
      position: initial;

      padding: 15px 10px;

      display: inline-block;

      color: @color-black;

      font-family: 'Jost', sans-serif;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      line-height: 100%;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;

        content: '';
        display: inline-block;
        width: 80%;
        height: 2px;
        background: @color-black;
        opacity: 0;

        transition: @transition-all-3;
        transform: translateX(-50%);
      }
    }
    .tabs-nav-active {
      position: relative;

      &::after {
        opacity: 1;
      }
    }
  }
  &-content {
    max-height: 65vh;

    overflow: auto;
    &__wrapper {
      //display: flex;
      //flex-direction: row;
    }
    &__item {
      //flex: 1 0 100%;
      //height: 100%;
      display: none;

      background: @color-white;
    }
    .tab-content-active {
      //overflow: auto;
      display: block;
    }
    &__item-wrapper {
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 40px;

      overflow: auto;
    }
    .tab-form {}
    .tab-uploader {
      &__desc {
        text-align: center;
        &-title {
          margin-top: 35px;

          font-family: 'Jost', sans-serif;
          font-size: 28px;
          font-weight: 300;
          font-style: normal;
          line-height: 100%;

          @media ( max-width: @breakpoint-md ) {
            font-size: 24px;
          }

        }
        &-paragraph {
          margin-top: 25px;

          font-family: 'Jost', sans-serif;
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          line-height: 100%;

          @media ( max-width: @breakpoint-md ) {
            font-size: 16px;
          }

        }
        &-button {
          margin-top: 40px;
          margin-bottom: 40px;
          padding: 15px 60px;

          border: none;
          border-radius: 4px;
          outline: none;
          color: @color-white;
          background: @color-dark;

          font-family: 'Jost', sans-serif;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          line-height: 100%;

          transition: @transition-all-3;

          &:hover {
            background: @color-blue;
          }
        }
      }
      &__image-wrapper {
        position: relative;

        width: 100%;
        height: 390px;

        overflow: hidden;

        @media ( max-width: @breakpoint-md ) {
          height: 240px;
        }

      }
      &__image {
        positioN: absolute;
        top: 50%;
        left: 50%;

        width: 100%;

        transform: translate(-50%, -50%);
      }
    }
  }
}


.tab-submit {
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media ( max-width: @breakpoint-sm ) {
    flex-direction: column;
  }

  &__left {
    flex: 1 0 auto;
  }
  &__right {
    flex: 0 0 auto;

    @media ( max-width: @breakpoint-sm ) {
      display: flex;
      flex-direction: column;
    }

  }
  &__link {
    display: inline-block;

    color: @color-black;

    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;

    @media ( max-width: @breakpoint-sm ) {
      margin-bottom: 20px;
    }

  }
  &__button {
    padding: 11px 29px;

    @media ( max-width: @breakpoint-sm ) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    &:last-child {
      margin-left: 15px;

      @media ( max-width: @breakpoint-sm ) {
        margin-top: 15px;
        margin-left: 0;
      }

    }
  }
}