@main-font: 'Roboto', Open Sans, Arial, sans-serif;

@color-white: #ffffff;
@color-black: #000000;
@color-gray: #4A545E;
@color-gray-light: #F4F4F4;
@color-red: #DD1E35;

@color-main: @color-gray;
@color-second: @color-white;