// Fonts
@main-font: 'Jost', sans-serif;

// Colors
@color-white: #ffffff;
@color-black: #000000;
@color-dark: #171717;
@color-blue: #37cbc7;
@color-gray: #d2d2d2;
@color-bggray: #e7e7e7;
@color-darkgray: #999999;

// Transitions
@transition-all-3: all .3s ease;

// Breakpoints
@breakpoint-xxl: 1500px;
@breakpoint-xl: 1250px;
@breakpoint-lg: 1000px;
@breakpoint-md:768px;
@breakpoint-sm: 576px;
@breakpoint-xs: 320px;